<% layout('layouts/main') -%>

<% include includes/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Welcome to <%- appName %></h2>
            This is MEAN stack boilerplate that provides starting point for application development.
        </div>
    </div>

    <hr>
    <% include includes/footer.ejs %>
</div>
